<h1>تسجيل دخول</h1>
<form action="/signin" method="POST">
    <div>
        <label for="email">اسم المستخدم</label>
        <input type="email" id="email" name="email" placeholder="اسم المستخدم" required>
    </div>
    <div>
        <label for="password">كلمة السر</label>
        <input type="password" id="password" name="password" placeholder="كلمة السر" required>
    </div>
    <button type="submit">تسجيل الدخول</button>
</form>
<p> لا تملك حساب بعد؟ <a href="/signup">انشاء حساب</a></p>